{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mb-4">Про наш магазин</h1>
            <p class="lead">Ласкаво просимо до нашого інтернет-магазину! Ми прагнемо надавати найкращі товари та відмінний сервіс для наших клієнтів.</p>
            <p>Наша місія - зробити ваші покупки простими, зручними та приємними. Ми пропонуємо широкий асортимент товарів високої якості за доступними цінами.</p>
            <p>Дякуємо, що обрали нас!</p>
        </div>
    </div>
</div>
{% endblock %}
